@model HomeDataDto
@{
    ViewData["Title"] = "Home Page";
    var currentUserId = @Model.UserId;
}
@section Scripts {
    <script src="/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
    $(document).ready(function () {
        //modal - support kaydet işlemi
        $('#saveSupportBtn').on('click', function () {
            let formData = $('#supportCreateForm').serialize();
            $.ajax({
                url: '/Tickets/Create/',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        setTimeout(function() {
                            window.location.href = '/Home/Index'; // Redirect to Home/Index
                        }, 1000);
                        $('#createSupportModal').modal('hide');
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function () {
                    toastr.error('Beklenmedik bir hata oluştu');
                }
            });
        });

        //ticket detail ekranı
        $('#ticketTable tbody').on('click', '.detailBtn', function () {
            let ticketId = $(this).data('id');
            window.location.href = `/Tickets/Index/${ticketId}`;
        });

        //modal- create ekranı açma
        $('#createSupportBtn').on('click', function () {
            $('#supportCreateForm')[0].reset();
            $('#createSupportModal').modal('show');
        });

        //modal kapama
        $('#closeCreateSupportModal').on('click', function () {
            $('#supportCreateForm')[0].reset();
            $('#createSupportModal').modal('hide');
        });
    });
</script>
}
<style>
    .scrollable-tasks {
        max-height: 175px;
        overflow-y: auto;
    }
    .scrollable-meetings {
        max-height: 175px;
        overflow-y: auto;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-12 announcement text-center py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i>
                                Duyurular
                            </h3>
                        </div>
                        @if (Model.Announcements == null || !Model.Announcements.Any())
                        {
                            <div class="card-body">
                                <div class="callout callout-danger">
                                    <h5>Görüntülenecek Duyuru Yok</h5>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model.Announcements!)
                            {
                                <div class="card-body">
                                    <div class="callout callout-danger">
                                        <h5>@item.Title</h5>
                                        <p>@item.Content</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 tasks text-center py-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i>
                        Görevler
                    </h3>
                </div>
                <div class="card-body">
                    <ul class="todo-list scrollable-tasks" data-widget="todo-list">
                        @if (Model.Tasks == null || !Model.Tasks.Any())
                        {
                            <li>
                                <span class="text">Atanmış Görev Yok</span>
                            </li>
                        }
                        else
                        {
                            @foreach (var item in Model.Tasks!)
                            {
                                <li>
                                    <div class="icheck-primary d-inline ml-2">
                                        <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                        <label for="todoCheck1"></label>
                                    </div>
                                    <span class="text">@item.Title - @item.Description</span>
                                    <small class="badge badge-danger"><i class="far fa-clock"></i> Son Teslim @item.Deadline</small>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-md-6 meetings text-center py-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i>
                        Toplantılar
                    </h3>
                </div>
                <div class="card-body">
                    <ul class="todo-list scrollable-meetings" data-widget="todo-list">
                        @if (Model.Meetings == null || !Model.Meetings.Any())
                        {
                            <li>
                                <span class="text">Atanmış Toplantı Yok</span>
                            </li>
                        }
                        else
                        {
                            @foreach (var item in Model.Meetings!)
                            {
                                <li>
                                    <div class="icheck-primary d-inline ml-2">
                                        <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                        <label for="todoCheck1"></label>
                                    </div>
                                    <span class="text">@item.Title - @item.Description</span>
                                    <small class="badge badge-danger"><i class="far fa-clock"></i> Toplantı Günü @item.StartDate.ToShortDateString()</small>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Talep Geçmişi</h3>
                    <button id="createSupportBtn" class="btn btn-sm btn-primary detailBtn float-end">Destek Talep Oluştur <i class="fas fa-plus"></i></button>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages">
                        <table id="ticketTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Konu</th>
                                <th>Oluşturma Tarihi</th>
                                <th>Talep Detay</th>
                            </tr>
                            </thead>
                            <tbody>
                            @if (Model.Tickets != null || Model.Tickets!.Any())
                            {
                                @foreach (var item in Model.Tickets!)
                                {
                                    <tr>
                                        <td class="mailbox-name">
                                            <a>@item.Id</a>
                                        </td>
                                        <td class="mailbox-name">
                                            <a>@item.Subject</a>
                                        </td>
                                        <td class="mailbox-subject">
                                            <b>@item.CreateDate</b>
                                        </td>
                                        <td>
                                            <button data-id="@item.Id" class="btn btn-sm btn-primary detailBtn">Detay <i class="fas fa-search"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createSupportModal" tabindex="-1" role="dialog" aria-labelledby="createSupportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSupportModalLabel">Destek Talebi Oluştur</h5>
                <button id="closeCreateSupportModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="supportCreateForm">
                    <div class="form-group">
                        <label for="Subject">Konu</label>
                        <input type="text" class="form-control" id="Subject" name="Subject">
                    </div>
                    <div class="form-group">
                        <label for="Summary">Özet </label>
                        <textarea class="form-control" type="text" name="Summary" id="Summary" rows="4"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="saveSupportBtn">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>