@model HomeDataDto
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .scrollable-tasks {
        max-height: 175px;
        overflow-y: auto;
    }
    .scrollable-meetings {
        max-height: 175px;
        overflow-y: auto;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-12 announcement text-center py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i>
                                Duyurular
                            </h3>
                        </div>
                        @if (Model.Announcements == null || !Model.Announcements.Any())
                        {
                            <div class="card-body">
                                <div class="callout callout-danger">
                                    <h5>Görüntülenecek Duyuru Yok</h5>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model.Announcements!)
                            {
                                <div class="card-body">
                                    <div class="callout callout-danger">
                                        <h5>@item.Title</h5>
                                        <p>@item.Content</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 tasks text-center py-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i>
                        Görevler
                    </h3>
                </div>
                <div class="card-body">
                    <ul class="todo-list scrollable-tasks" data-widget="todo-list">
                        @if (Model.Tasks == null || !Model.Tasks.Any())
                        {
                        <li>
                            <span class="text">Atanmış Görev Yok</span>
                        </li>
                        }
                        else
                        {
                        @foreach (var item in Model.Tasks!)
                        {
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                <label for="todoCheck1"></label>
                            </div>
                            <span class="text">@item.Title - @item.Description</span>
                            <small class="badge badge-danger"><i class="far fa-clock"></i> Son Teslim @item.Deadline</small>
                        </li>
                        }
                        }
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-md-6 meetings text-center py-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i>
                        Toplantılar
                    </h3>
                </div>
                <div class="card-body">
                    <ul class="todo-list scrollable-meetings" data-widget="todo-list">
                        @if (Model.Meetings == null || !Model.Meetings.Any())
                        {
                            <li>
                                <span class="text">Atanmış Toplantı Yok</span>
                            </li>
                        }
                        else
                        {
                            @foreach (var item in Model.Meetings!)
                            {
                                <li>
                                    <div class="icheck-primary d-inline ml-2">
                                        <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                        <label for="todoCheck1"></label>
                                    </div>
                                    <span class="text">@item.Title - @item.Description</span>
                                    <small class="badge badge-danger"><i class="far fa-clock"></i> Toplantı Günü @item.StartDate</small>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 tickets text-center py-5">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>Destek Talepleri</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Talep Geçmişi</h3>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check1">
                                                    <label for="check1"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-name">
                                                <a href="#">Gani Ozturk</a>
                                            </td>
                                            <td class="mailbox-subject">
                                                <b>Onicorn</b> - CRM Task
                                            </td>
                                            <td class="mailbox-date">5 mins ago</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>